@import url('https://fonts.cdnfonts.com/css/cyberfall');   
body{ 
background: rgb(22,22,22);
    color:aqua;
    font-family: 'Cyberfall', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(175deg,rgb(12, 6, 62),rgb(106, 61, 106),transparent);

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center
    
}
h1 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 0;
}
h3 {
    font size: 8px;    
    margin-top: 0px;   
}